.top{
	height: 545px;
	position: relative;
	padding: 0 0 0 0;
	background: -webkit-linear-gradient(#333, #000); 
  	background: -o-linear-gradient(#333, #000); 
  	background: -moz-linear-gradient(#333, #000);
  	background: linear-gradient(#333, #000);
}

.top_battle{
	height: 545px;
	position: relative;
	padding: 0 0 0 0;
	background: #f7f0d8;
}

#content{
	width: 100%;
	height: 545px;
	margin: 0 0 0 0;
}


#doctor{
	position: absolute;
	bottom: 0;
	right: 10%;
}
.dia_ball1{
	position: absolute;
	top: 30%;
	left: 20%;
}
.dia_ball2{
	position: absolute;
	top: 11%;
	left: 10%;
}
.dia_ball3{
	position: absolute;
	top: 11%;
	left: 20%;
}

.bg1{
	background: url(../images/say_bg/1.jpg) no-repeat;
	background-size:cover;
}
.bg2{
	background: url(../images/say_bg/2.jpg) no-repeat;
	background-size:cover;
}
.bg3{
	background: url(../images/say_bg/3.jpg) no-repeat;
	background-size:cover;
}
.bg4{
	background: url(../images/say_bg/4.jpg) no-repeat;
}
.bg5{
	background: url(../images/say_bg/5.jpg) no-repeat;
}


#pm{
	margin-left: 10%;
	margin-top: 10%;
}
.pm_obj:active{
	-webkit-filter: brightness(0.7);
	filter: brightness(0.7);
}


/*技能框ui样式*/
.skill{
	margin-top: 10%;
	font-size: 1.4em;
	text-align: center;
	color: white;
	background: #444;
	border: solid 3px black;
	border-radius: 10px 10px;
}
.skill_checked{
	-webkit-filter: brightness(0.7);
	filter: brightness(0.7);
}
.fire{
	background: #ff6600;
}
.plant{
	background: green;
}
.water{
	background: blue;
}

.dragon{
	background: #000066;
}
.wrestle{
	background: #996600;
}
.electricity{
	background: #fff100;
	color: black;
}

#skill_message{
	height: 220px;
	margin-top: 10%;
	font-size: 1.6em;
	color: black;
	background: white;
	border: solid 3px #00a;
	border-radius: 10px 10px;

}
#battle_btn{
	margin-top: 5%;
	margin-bottom: 5%;
	padding-bottom: 3%;
	border: 3px solid #ebac15;
	border-radius:5px 5px;
	background: red;
	text-align: center;
	color: #d1c0a5;
}
#battle_btn:active{
	-webkit-filter: brightness(0.7);
	filter: brightness(0.7);
}


/*战斗结束后的底部div样式*/
#battle_end_box{
	height: 300px;
}

#restart{
	margin-top: 20%;
}
#repeat{
	margin-top: 20%;
}
/*用户用精灵的ui样式*/
/*精灵*/
#img_user{
	width: 40%;
	position: absolute;
	bottom: 20%;
}
/*精灵hp ui*/
#user_pm_ui{
	height: 20%;
	width: 40%;
	position: absolute;
	left: 50%;
	top: 40%;
	background: #d1c0a5;
	border: 5px solid #362e2b;
	border-radius:10px 10px;
}
.pm_hp{
	position: absolute;
	bottom: 45%;
	left: 63%;
	font-size: 0.6em;
}
.pm_ui_2{
	position: absolute;
	bottom: 0;
}
.hp_ui{
	position: absolute;
	left: 28%;
	bottom: 20%;
	width: 70%;
	height: 40%;
	background: red;
	border-radius:10px 10px;
}
.hp_inner_bar{
	width: 100%;
	height: 100%;
	background: green;
	border-radius:10px 10px;
}

/*ai用精灵ui的样式*/
#img_ai{
	position: absolute;
	left: 70%;
}
#user_pm_ai{
	height: 20%;
	width: 40%;
	position: absolute;
	left: 10%;
	top: 7%;
	background: #d1c0a5;
	border: 5px solid #362e2b;
	border-radius:10px 10px;
}



#charts_box{
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0;
	bottom: 10px;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
	border: 3px #66ccff solid;
	border-radius: 10px 10px;
	background: white;
	font-size: 1.5em;
}


.floor{
    background: url(../images/bottom_bg.png) no-repeat;
}
.bg_b{
	background: url(../images/bg_b.jpg) no-repeat;
	background-size:cover;
}
#ball_btn:active{
	-webkit-filter: brightness(0.7);
	filter: brightness(0.7);
}
#game_btn:active{
	-webkit-filter: brightness(0.7);
	filter: brightness(0.7);	
}
.footer{
	width: 100%;
	height: 115px;
	background: #777;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	font-size: 1.3em;
	color:white;
}
@media screen and (max-width: 999px){
	#top{
		height: 320px;
	}

}


